[submodule "3rdparty/rzv_drp-ai_tvm"]
	path = 3rdparty/rzv_drp-ai_tvm
	url = https://github.com/renesas-rz/rzv_drp-ai_tvm
[submodule "3rdparty/pybind11"]
	path = 3rdparty/pybind11
	url = https://github.com/pybind/pybind11.git
